/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 juil. 2015, 08:40:45
    Author     : bcivel
*/

/** 4 - LOGIN */

#login-box {
    width:333px;
    height: 352px;
    padding: 58px 76px 0 76px;
    color: #ebebeb;
    font: 12px Arial, Helvetica, sans-serif;
    background: url(../images/login-box-backg.png) no-repeat left top;
}

#login-box img {
    border:none;
}

#login-box h2 {
    padding:0;
    margin:0;
    color: #ebebeb;
    font: bold 44px "Calibri", Arial;
}


.login-box-name {
    float: left;
    display:inline;
    width:80px;
    text-align: right;
    padding: 14px 10px 0 0;
    margin:0 0 7px 0;
}

.login-box-error {
    float: left;
    display:inline;
    width:180px;
    color: red;
    text-align: right;
    padding: 0px 0px 0 0;
    margin:0 0 7px 0;
    font-weight: bold;
    text-align: center;
}

.login-box-field {
    float: left;
    display:inline;
    width:230px;
    margin:0;
    margin:0 0 7px 0;
}


.form-login  {
    width: 205px;
    padding: 10px 4px 6px 3px;
    border: 1px solid #0d2c52;
    background-color:#1e4f8a;
    font-size: 16px;
    color: #ebebeb;
}


.login-box-options  {
    clear:both;
    padding-left:87px;
    font-size: 11px;
}

.login-box-options a {
    color: #ebebeb;
    font-size: 11px;
}

.loginIcon{
    border-style: none;
    text-align: right;
    padding-right: 30px;
}

.loginIcon a{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.loginIcon p{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
}

.logoutIcon{
    background-image: url("../images/logout.png");
}
/** END OF LOGIN */


