<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>GenerateFile</servlet-name>
        <servlet-class>com.paternizer.servlet.GenerateFile</servlet-class>
        <init-param>
            <param-name>templateURL</param-name>
            <param-value/>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>UploadTemplate</servlet-name>
        <servlet-class>com.paternizer.servlet.UploadTemplate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublishOnFtp</servlet-name>
        <servlet-class>com.paternizer.servlet.PublishOnFtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetList</servlet-name>
        <servlet-class>com.paternizer.servlet.GetList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecuteQJMS</servlet-name>
        <servlet-class>com.paternizer.servlet.ExecuteQJMS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadJmsQueue</servlet-name>
        <servlet-class>com.paternizer.servlet.ReadJmsQueue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFromFtp</servlet-name>
        <servlet-class>com.paternizer.servlet.GetFromFtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFileListFromFtp</servlet-name>
        <servlet-class>com.paternizer.servlet.GetFileListFromFtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublishOnQJMS</servlet-name>
        <servlet-class>com.paternizer.servlet.PublishOnQJMS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFileWithParameters</servlet-name>
        <servlet-class>com.paternizer.servlet.GetFileWithParameters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFromFTPtoFTP</servlet-name>
        <servlet-class>com.paternizer.servlet.SendFromFTPtoFTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFromESBToMaxxing</servlet-name>
        <servlet-class>com.paternizer.servlet.SendFromESBToMaxxing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InjectFile</servlet-name>
        <servlet-class>com.paternizer.servlet.InjectFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateXmlFileFromTemplate</servlet-name>
        <servlet-class>com.paternizer.servlet.GenerateXmlFileFromTemplate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFile</servlet-name>
        <servlet-class>com.paternizer.servlet.DeleteFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CallWS</servlet-name>
        <servlet-class>com.paternizer.servlet.CallWS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>com.paternizer.servlet.SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToArchive</servlet-name>
        <servlet-class>com.paternizer.servlet.AddToArchive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConvertString</servlet-name>
        <servlet-class>com.paternizer.servlet.ConvertString</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailWS</servlet-name>
        <servlet-class>com.paternizer.service.email.SendMailWS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateFileWS</servlet-name>
        <servlet-class>com.paternizer.service.file.GenerateFileWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerateFile</servlet-name>
        <url-pattern>/GenerateFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadTemplate</servlet-name>
        <url-pattern>/UploadTemplate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublishOnFtp</servlet-name>
        <url-pattern>/PublishOnFtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetList</servlet-name>
        <url-pattern>/GetList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecuteQJMS</servlet-name>
        <url-pattern>/ExecuteQJMS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadJmsQueue</servlet-name>
        <url-pattern>/ReadJmsQueue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFromFtp</servlet-name>
        <url-pattern>/GetFromFtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFileListFromFtp</servlet-name>
        <url-pattern>/GetFileListFromFtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublishOnQJMS</servlet-name>
        <url-pattern>/PublishOnQJMS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFileWithParameters</servlet-name>
        <url-pattern>/GetFileWithParameters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFromFTPtoFTP</servlet-name>
        <url-pattern>/SendFromFTPtoFTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFromESBToMaxxing</servlet-name>
        <url-pattern>/SendFromESBToMaxxing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InjectFile</servlet-name>
        <url-pattern>/InjectFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateXmlFileFromTemplate</servlet-name>
        <url-pattern>/GenerateXmlFileFromTemplate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFile</servlet-name>
        <url-pattern>/DeleteFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailWS</servlet-name>
        <url-pattern>/SendMailWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CallWS</servlet-name>
        <url-pattern>/CallWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToArchive</servlet-name>
        <url-pattern>/AddToArchive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConvertString</servlet-name>
        <url-pattern>/ConvertString</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateFileWS</servlet-name>
        <url-pattern>/GenerateFileWS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
</web-app>
